.body {
  min-width: 320px;
  min-height: 100%;
  margin: 0;
  background-image: url('../../images/violet.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", "Arial", sans-serif;
  color: #2d383f;
}
