.message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  width: 100%;
  padding: 5px 10px;
  background-color: #e1a8f2;
  border-top: 1px solid #ff237e;
  border-bottom: 1px solid #ff237e;

  & + .message {
    border-top: none;
  }
}

.message__delete {
  display: block;
  width: 20px;
  height: 20px;
  position: relative;
  background-color: #efbae2;
  border: 1px solid #a49898;
  cursor: pointer;

  &::before {
    content: 'x';
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
